.tickets {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  &__list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__show-more {
    margin-top: auto;
    margin-bottom: 20px;
  }
}